name: CD-test

on:

  workflow_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: homolog
    steps:
      - name: deploy   
        run: echo "environment deploy of ${{vars.environment_deploy}}"

